body {
  background-color: #EDF7F6;
}

header {
  background-color: #C47335;
  /* Azul da logo */
}

.btn-custom {
  background-color: #C47335;
  /* Laranja da logo */
  color: white;
}

.btn-custom:hover {
  background-color: #C47335;
  color: white;
}

footer {
  background-color: #C47335;
}

#img-header {
  width: 15%;
}

@media (min-height: 200px) {
  #img-header {
    width: 10%;
  }
}

@media (min-height: 400px) {
  #img-header {
    width: 5%;
  }
}